<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config['site_name'] }}</title>
    <link rel="stylesheet" href="{{ base_url }}/css/screen.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/github.css" />
</head>
<body>
  <div class="header">
    <span class="sitename">{{ config['author'] }}'s {{ config['site_name'] }}</span>
    <a href="{{ base_url }}/index.html" class="home">home</a>
  </div>
  <div class="content">
      <ul class='posts'>
          {%- for post in posts %}
            <li><span>{{ post.date }}</span> &raquo; <a href='{{ post.url }}'>{{ post.title }}</a></li>
          {%- endfor %}
      </ul>
  </div>
</body>
</html>