<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{{ base_url }}/css/screen.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/github.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
  <div class="header">
    <span class="sitename">{{ config['author'] }}'s {{ config['site_name'] }}</span>
    <a href="{{ base_url }}/index.html" class="home">home</a>
  </div>
  <h1 id="title">{{ post.title }}</h1>
  <div class="content">
      {{ content }}
  </div>
  {% if post.prev_post %}
    <a href="{{ post.prev_post.url }}" class="previous">&laquo; Previous</a>
  {% endif %}
  {% if post.next_post %}
    <a href="{{ post.next_post.url }}" class="next">Next &raquo;</a>
  {% endif %}
</body>
</html>