html, body {
  height: 100%;
}
body {
    width:800px;
    margin:0px auto;
    margin-top: 2em;
    text-align:left;
    padding:15px;
    background-color:white;
    font: 15px helvetica, arial, clean, sans-serif;
}
.header {
  margin-bottom: 2em;
}
.sitename {
  color: #a00;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2em;
}
.home {
    color: #aaa;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
  }
h1.panel{
  font-size: 100%;
}
a:hover {
  color: black;
}
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
ul.posts li {
    line-height: 1.75em;
}
ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.previous {
    color: black;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}

.next {
    color: #a00;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
}